<!DOCTYPE html>
<html>
<head lang="zh-cmn-hans">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>看板</title>
  <!--[if lt IE 9]>
  <script src="../../../../static/js/html5shiv.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="../../../../static/css/normalize.css" />
  <link rel="stylesheet" href="../../../../lib/element/index.css">
  <link rel="stylesheet" href="../../../../static/css/common.css" />
  <link rel="stylesheet" href="../../../../static/css/element-change.css">
  <link rel="stylesheet" href="../../../../static/css/common@hyk.css">
  <link rel="stylesheet" href="../../../pages/em/lookBoard/style.css">
 <script>
    var src = window.location.protocol+"//api.map.baidu.com/api?v=2.0&ak=YXMevc0K9yiOva7e0LuOjtqMoVQXryxZ"
    document.write("<script src='" + src+ "'><\/script>")
  </script>  
</head>
<body>
  <div class="stage-box" id="lookBoard" v-cloak>
    <main class="main">
      <header class="lookboard_panel_header">
        <!-- <panel-tab v-model="typeIndex" :tabs="panels"></panel-tab> -->
        <!-- <panel-tab v-model="tabIndex" :tabs="computedChildrenPanels">
          <div slot="tail" class="header_tail">
            <div class="panel_type__radios">
              <el-radio-group v-model="typeIndex">
                <el-radio
                  v-for="(item, idx) in panels"
                  :key="idx"
                  :label="idx">{{ item.MenuName }}</el-radio>
              </el-radio-group>
            </div> -->
            <!-- v-show="computedPanelIndex > 0" -->
            <div class="float-left header-title">
              {{headerTitle}}
            </div>
            <div  v-show="boardMenuType > 1" class="struct_container float-right">
              <label for="" class="header_label">{{ computedLabelText }} &nbsp;</label>
            
              <el-select  v-if="boardMenuType == 2" v-model="structId" placeholder="可按公司名称筛选" size="small" filterable class="struct_tree" clearable>
                <el-option
                  v-for="item in structData[boardMenuType - 1]"
                  :key="item.Id"
                  :value="item.Id"
                  :label="item.concatName"
                  class="struct_option_item"></el-option>
              </el-select>
                <!--  -->
              <tree-select
                v-show="boardMenuType == 3"
                ref="projectStructTree"
                :data="structData[boardMenuType -1]"
                node-key="Id"
                :on-all="true"
                :cur-key="structId"
                :props="projectTreeDataModel"
                :change="handleProjectTreeNodeClick"
                :expand-all="false"
                placeholder="请选择项目"
                :expanded="projectTreeDefaultExpandedKeys"
                :disabled="isProDisabled"
                class="projectStructTree"></tree-select>
            </div>
          <!-- </div> -->
        <!-- </panel-tab> -->
      </header>
      <article ref="mainContent" class="main_content">

        <component
          :is="computedCurrentPanel"
          v-if="computedEnableComponent"
          :module-permissions="computedModulePermissions"
          :panel-type="computedPanelType"
          :struct-id="structId"
          :struct-node-data="computedStructNode"></component>
      </article>
    </main>
  </div>
  <!-- polyfill -->
  <script src="../../../../lib/babel-polyfill/7.0.0-beta.49/polyfill.min.js"></script>
  <!-- module-loader -->
  <script src="../../../../static/js/moduleLoader.js"></script>
  <!--  -->
  <script src="../../../../lib/jquery-1.11.3.min.js"></script>
  <script src="../../../../lib/onePicViewer/jquery.onePicViewer.js"></script>
  <script src="../../../../lib/layer-v3.0.1/layer.js"></script>
  <script src="../../../../lib/vue-2.2.6.min.js"></script>
  <script src="../../../../lib/element/index.js?version=1.4.12"></script>
  <script src="../../../../lib/echarts.4.2.0-rc.2.min.js"></script>
  <script src="../../../../config.js"></script>
  <script src="../../../../static/js/base.js"></script>
  <script src="../../../../static/js/util@hyk.es5.js"></script>
  <!-- entry -->
  <script type="text/javascript" src="../../../pages/em/lookBoard/index.js"></script>
</body>
</html>